#as-seen.panel.panel-default
  .panel-heading
    h4.panel-title As Featured On
  .panel-body
    ul
        li
            a(href='http://news.cnet.com/8301-13579_3-57605590-37/simple-tool-checks-multiple-apple-stores-for-iphone-5s-stock/', target='_blank')
              img(src='/img/logos/cnet.png', height='70', width='70', alt='CNET')
        li
          a(href='http://www.latimes.com/business/technology/la-fi-tn-gold-iphone-5s-treasure-map-20131002,0,4866776.story', target='_blank')
            img(src='/img/logos/latimes.jpg', alt='LA Times')
        li
          a(href='http://gizmodo.com/heres-how-to-check-if-the-apple-store-has-an-iphone-5s-1438368762', target='_blank')
            img(src='/img/logos/gizmodo.png', height='26', width='180', alt='Gizmodo')
        li
          a(href='http://www.zdnet.com/unofficial-iphone-5s-tracker-helps-customers-find-gold-7000021496/', target='_blank')
            img(src='/img/logos/zdnet.jpg', height='70', width='110', alt='ZD Net')
        li
          a(href='http://techland.time.com/2013/10/02/how-to-find-an-iphone-5s-in-stock-near-you/', target='_blank')
            img(src='/img/logos/time.png', height='58', width='180', alt='Time')
        li
          a(href='http://www.forbes.com/sites/chuckjones/2013/10/16/where-to-find-gold-iphones-and-how-much-you-can-make-by-re-selling-them/', target='_blank')
            img(src='/img/logos/forbes.jpg', height='67', width='180', alt='Forbes')
        li
          a(href='http://www.huffingtonpost.com/2013/10/02/buy-iphone-5s_n_4029166.html', target='_blank')
            img(src='/img/logos/huffpost.jpg', height='72', width='180', alt='Huffington Post')
        li
          a(href='http://bgr.com/2013/10/02/iphone-5s-inventory-checker/', target='_blank')
            img(src='/img/logos/bgr.png', height='70', width='145', alt='BGR')
        li
          a(href='http://money.cnn.com/news/newsfeeds/gigaom/articles/2013_10_02_this_tool_can_check_iphone_5s_stock_at_every_apple_store_in_your_area.html', target='_blank')
            img(src='/img/logos/cnnmoney.jpg', height='46', width='180', alt='CNN Money')
