.row
	.col-xs-12
		h3 Instructions
		hr
	.col-sm-11.col-sm-offset-1
		p
			h4 The #{share.prod} I want is green now what?
			|Ok here's what to do....
			ol
				li Do NOT call the store 
					small (they'll probably tell you that they don't have any)
				li Do NOT go into the store 
					small (they'll also tell you that they don't have any)
				li Go to the Apple website at 
					a(href=appleItemUrl, target='_blank') store.apple.com
				li Configure the #{share.prod} as shown here
				li Choose "Check availability" 
					small (it's in the bottom of the Summary box on the right side of the screen)
				li Enter your zip code
				li Select the store that has it available 
					small (you may have to click next on the bottom of the list of stores)
				li Press the blue "Select Store" button
				li Press the green "Continue" button 
					small (also in the summary box)
				li Continue the checkout process as normal
				li Make sure that it still shows available when completing your purchase