.panel.panel-default.text-center
	.panel-body
		h4 Did this site help you find an #{share.prod}?
		h5 Please donate!
		a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=7VJN3JY8Y3P92')
			img(src="/img/paypal.gif", height='47', width='147', alt='donate with paypal')
		div
			h5
				small.muted Thanks in advance ;)