script(async='async', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js').
//-Apple-Tracker Right Side 
ins.adsbygoogle(style='display: inline-block; width: 160px; height: 600px;', data-ad-client='ca-pub-7884565593223499', data-ad-slot='5036482238')
script.
  (adsbygoogle = window.adsbygoogle || []).push({});